<!-- Sección de CTA (Call to Action) -->

<div class="border-t border-gray-200 pt-5">
    <button onclick="document.getElementById('ID_UNICO').showModal()"
        class="w-full btn btn-sm bg-indigo-500 hover:bg-indigo-600 text-white">
        abrir
    </button>
</div>

<dialog id="ID_UNICO" class="modal">
    <div class="modal-box">
        CUERPO DE LA MODAL
    </div>
</dialog>