<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
  <meta charset="utf-8" />
  <meta name="app-lang" content="{{lang}}">
  <title>
    {{#if pageTitle }}
    {{ __ pageTitle lang }} -
    {{/if}}
    Subkit
  </title>

  <script src="/public/js/chart.js"></script>
  {{!--
  <script src="/public/js/tailwindcss3.4.17.js"></script> --}}

  <link rel="stylesheet" href="/public/css/main.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <!-- Tailwind CSS -->
  <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
  <link
    href="https://cdn.jsdelivr.net/combine/npm/daisyui@5/base/rootscrollgutter.css,npm/daisyui@5/base/scrollbar.css,npm/daisyui@5/base/rootcolor.css,npm/daisyui@5/base/rootscrolllock.css,npm/daisyui@5/base/reset.css,npm/daisyui@5/base/svg.css,npm/daisyui@5/base/properties.css,npm/daisyui@5/components/input.css,npm/daisyui@5/components/timeline.css,npm/daisyui@5/components/filter.css,npm/daisyui@5/components/badge.css,npm/daisyui@5/components/table.css,npm/daisyui@5/components/radio.css,npm/daisyui@5/components/dock.css,npm/daisyui@5/components/mask.css,npm/daisyui@5/components/chat.css,npm/daisyui@5/components/fab.css,npm/daisyui@5/components/list.css,npm/daisyui@5/components/avatar.css,npm/daisyui@5/components/menu.css,npm/daisyui@5/components/status.css,npm/daisyui@5/components/toggle.css,npm/daisyui@5/components/range.css,npm/daisyui@5/components/validator.css,npm/daisyui@5/components/fieldset.css,npm/daisyui@5/components/label.css,npm/daisyui@5/components/skeleton.css,npm/daisyui@5/components/breadcrumbs.css,npm/daisyui@5/components/toast.css,npm/daisyui@5/components/tab.css,npm/daisyui@5/components/checkbox.css,npm/daisyui@5/components/select.css,npm/daisyui@5/components/fileinput.css,npm/daisyui@5/components/card.css,npm/daisyui@5/components/textarea.css,npm/daisyui@5/components/button.css,npm/daisyui@5/components/modal.css,npm/daisyui@5/components/tooltip.css,npm/daisyui@5/components/progress.css,npm/daisyui@5/utilities/radius.css,npm/daisyui@5/colors/properties-extended.css,npm/daisyui@5/colors/responsive.css,npm/daisyui@5/colors/states-extended.css,npm/daisyui@5/colors/states.css,npm/daisyui@5/colors/properties.css,npm/daisyui@5/colors/responsive-extended.css,npm/daisyui@5/theme/corporate.css"
    rel="stylesheet" type="text/css" />
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>

  <script src="/public/js/charts.js"></script>

</head>

<body class="bg-gray-100 text-gray-800 transition-colors duration-300">
  {{> alert}}

  {{{ body }}}

  <dialog id="delete-confirm-modal" class="modal">
    <div class="modal-box w-full max-w-md">
      <h3 class="font-bold text-lg" id="delete-modal-title">Confirmar</h3>
      <p class="py-4" id="delete-modal-body">¿Estás seguro?</p>
      <div class="modal-action justify-between">
        <form method="dialog"><button class="btn btn-sm btn-ghost">Cancelar</button></form>
        <form id="delete-modal-form" method="POST" action="">
          <button type="submit" class="btn btn-sm btn-error">Sí, Confirmar</button>
        </form>
      </div>
    </div>
  </dialog>

  <dialog id="content-modal" class="modal">
    <div class="modal-box w-full max-w-2xl">
      <div class="flex justify-between items-center pb-3">
        <h3 class="font-bold text-lg" id="content-modal-title">Cargando...</h3>
        <form method="dialog"><button class="btn btn-sm btn-circle btn-ghost">✕</button></form>
      </div>

      <div id="content-modal-body">
        <p>Cargando...</p>
      </div>
    </div>
  </dialog>

  <script src="/public/js/app.js"></script>
  <script src="/public/js/main.js"></script>
</body>

</html>