{{> private/slide}}

<div class="md:ml-64 transition-all h-screen duration-300">
    {{> private/navbar}}

    <main class="p-4">
        <div class="flex justify-between items-center mt-4">
            {{> private/table/_actionsScreen }}

            {{> private/table/_pagination }}
        </div>

        {{#if filters}}
        <div class="mb-4">
            {{> private/table/_table-filters filters=filters }}
        </div>
        {{/if}}

        {{> private/table/_table }}
    </main>
</div>