{{> private/slide}}

<div class="md:ml-64 transition-all duration-300">
    <!-- Top Navigation -->
    {{> private/navbar}}

    <main class="p-4">
        <div class="flex flex-col md:flex-row justify-between items-start md:items-center mb-6">
            <div>
                <h1 class="text-2xl font-bold mb-2">{{ __ 'dashboard.sections.analytics.sumary' lang }}</h1>
            </div>
        </div>
    </main>
</div>
