{{> private/slide}}

<div class="md:ml-64 transition-all duration-300">
    {{> private/navbar}}

    <main class="max-w-4xl mx-auto py-8">
        <form method="{{form.method}}" action="{{form.action}}" class="space-y-6 bg-white p-6 rounded-lg shadow">
            {{> private/form/_dynamic_form_content }}
        </form>
    </main>
</div>
