{{> private/slide}}

<div class="md:ml-64 transition-all min-h-screen duration-300">
    {{> private/navbar}}

    <div class="grid grid-cols-3 gap-6 p-6">
        <div class="space-y-6">
            {{> private/utils/_wallet_section wallet=object }}
        </div>
        <div class="col-span-1 w-full flex flex-col gap-6">
            {{> private/utils/_user_section user=object.user }}
        </div>
    </div>
</div>
